<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <div class="row">

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60389.09787847854!2d34.2945266!3d61.7711936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1639047607401!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        <form #contactInput="ngForm" novalidate (ngSubmit)="submitForm()">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input 
                  type="text" 
                  placeholder="name"
                  name="name"
                  ngModel
                  required
                >
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input 
                  type="email" 
                  placeholder="email"
                  name="email"
                  ngModel
                  email
                  required>
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input 
                  type="number" 
                  placeholder="number">
            </div>
            <input 
              type="submit" 
              value="contact now" 
              class="btn"
              [disabled]="contactInput.invalid">
        </form>

    </div>

</section>