:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

.card {
    height: 60vh;
    margin: 25px;
    padding: 250px 25px;
}

i {
    color: #eee;
    background-color: #eee;
}

.table {
    color: #eee;
    font-size: 200%;
}

tr td {
    position: relative;
    padding-left: 1rem;
}

td {
    padding-top: 2rem;
}

td strong {
    font-size: 125%;
    color: #fff;
    position: relative;
    bottom: .5rem;
}

th {
    padding-top: 2rem;
}

i {
    background-color: var(--main-color);
}

button {
    margin-top: -2rem;
    border-radius: 1rem;
    font-size: 100%;
    padding: .9rem 1rem;
}







@media (max-width: 991px) {

    .t {
        font-size: 100%;
    }

}


@media (max-width: 768px) {

    .table {
        font-size: 100%;
    }

}