<header class="header" (window:scroll)="closeToggle()">

    <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="">
    </a>

    <nav class="navbar" [ngClass]="{active: toggleMenu}">
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">Home</a>
        <a routerLink="about">About</a>
        <a routerLink="menu">Menu</a>
        <a routerLink="contact">Contact</a>
    </nav>

    <div class="icons">
        <div class="fas fa-search" id="search-btn" (click)="openToggleSearch()"></div>
        <div class="fas fa-shopping-cart" id="cart-btn" routerLink="cart"></div>
        <div class="fas fa-bars" id="menu-btn" (click)="openToggleMenu()"></div>
    </div>

    <div class="search-form" [ngClass]="{active: toggleSearch}">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>

    <div class="cart-items-container"></div>

</header>